@import './variables.scss';
@import './libs/normalize.scss';
@import './components/all.scss';

body {
  background-color: $background;
}
.wrapper {
  width: 791px;
  margin: 0 auto;
}
.content {
  display: grid;
  grid-template-columns: 1fr 5.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  padding: 0 15px;
}
