@import './variables.scss';
@import './libs/normalize.scss';
@import './components/all.scss';
@import './pages/all';

body {
  background-color: $background;
}
.wrapper {
  width: 791px;
  margin: 0 auto;
}
.flexWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 5.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  padding: 0 15px;
}
.line {
  border-bottom: 1px solid #93a7bc;

  &-gray {
    border-bottom: 1px solid #e0e5e9;

    &Margin {
      border-bottom: 1px solid #e0e5e9;
      margin-top: 10px;
    }
  }
}
.bold {
  font-weight: 600;
}
.textBtnBlue {
  cursor: pointer;
  color: $blue;
  font-weight: 600;
}
.imgUpload {
  max-width: 300px;
  max-height: 300px;
}
